<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <form action="/contacto/" method="POST">{% csrf_token %}
        <h1>
            Contact Us
        </h1>
        <div>
            <span>Subject</span>
            <input type="text" name="subject" placeholder="Subject">
        </div>
        <div>
            <span>Email</span>
            <input type="text" name="email" placeholder="Enter your email addess">
        </div>
        <div>
            <span>Message</span>
            <textarea name="message" rows="10" cols="45" placeholder="Your message here..."></textarea>
        </div>
        <input type="submit" value="Enviar">
    </form>
</body>

</html>