<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado Búsqueda</title>
</head>

<body>
    <p>Estás buscando: <strong>{{query}}</strong></p>
    {% if articulos %}
    <p>Artículos encontrados: {{articulos|length}} articulos</p>
    <ul>
        {% for articulo in articulos %}
        <li>{{articulo.nombre}} &nbsp;{{articulo.seccion}} &nbsp;{{articulo.precio}}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No se ha encontrado el artículo.</p>
    {% endif %}
</body>

</html>